{% extends 'base.html.twig' %}

{% block title %}cart 2{% endblock %}

{% block body %}
    <div class="example-wrapper bg-white min-h-screen text-black font-poppins overflow-auto">
    {% include '/_defaults/_navbar.html.twig' %}
        <div class="px-16 py-14 min-h-screen">
            <div class="text-sm breadcrumbs">
                <ul>
                    <li class="opacity-50"><a href={{ path('app_home') }}>Home</a></li> 
                    <li><a href={{ path('app_cart') }}>Cart</a></li> 
                </ul>
                <h1 class="font-bold text-4xl">Shopping Cart</h1>
            </div>
            <div class="flex flex-row text-center pt-4">
                <div class="flex flex-row border-b-2 border-black mr-16">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">1</p>
                        </div>
                        <p class="ml-2">Shopping Cart</p>
                    </div>
                </div>
                <div class="flex flex-row border-b-2 border-black mr-16">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">2</p>
                        </div>
                        <p class="ml-2">Checkout details</p>
                    </div>
                </div>
                <div class="flex flex-row opacity-50">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">3</p>
                        </div>
                        <p class="ml-2">Order complete</p>
                    </div>
                </div>
            </div>
            <div>
                <form method="POST" action={{ path('app_stripe_checkout')}}>
                    <div class="mt-12 ml-7">
                        <p class="font-bold text-lg">Contact Information</p>
                            <div class="w-2/5">
                                <div class="mt-5 flex">
                                    <div class="mr-10">
                                        <p class="mb-2 text-gray-600 text-xs font-black">FIRST NAME *</p>
                                        <input name="fname" required placeholder="First name" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-80">
                                    </div>
                                    <div>
                                        <p class="mb-2 text-gray-600 text-xs font-black">LAST NAME *</p>
                                        <input name="lname" required placeholder="Last name" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-80">
                                    </div>
                                </div>
                                <div class="mt-6">
                                    <p class="mb-2 text-gray-600 text-xs font-black">PHONE NUMBER</p>
                                    <input name="phone" placeholder="Phone number" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-full">
                                </div>
                                <div class="mt-6">
                                    <p class="mb-2 text-gray-600 text-xs font-black">EMAIL ADDRESS *</p>
                                    <input name="mail" required placeholder="Your email" type="mail" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-full">
                                </div>
                            <div>
                        </div>
                    </div>
                    </div>
                    <div class="mt-12 ml-7">
                        <p class="font-bold text-lg">Shipping Address</p>
                            <div class="w-2/5">
                                <div class="mt-5">
                                    <p class="mb-2 text-gray-600 text-xs font-black">STREET ADDRESS *</p>
                                    <input name="address" required placeholder="Street address" id="addressInput" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-full">
                                </div>
                                <div class="mt-5">
                                    <p class="mb-2 text-gray-600 text-xs font-black">CITY *</p>
                                    <input name="city" required placeholder="City" id="localityInput" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-full">
                                </div>
                                <div class="mt-5">
                                    <p class="mb-2 text-gray-600 text-xs font-black">ZIP CODE *</p>
                                    <input name="postal" required placeholder="Zip code" id="postalCodeInput" class="bg-white border-2 focus:outline-none px-3 rounded-lg py-2 w-full">
                                </div>
                            <div>
                        </div>
                        <a href={{ path('app_stripe_checkout') }}>
                            <div class="mt-14">
                                <button type="submit" class="text-white bg-black rounded-lg w-full h-12">PLACE ORDER</button>
                            </div>
                        </a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    {% include '/_defaults/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqOD1I5-egptHQ7QB5gUk34oqNZ3E7z0w&libraries=places"></script> #}
    <script>
        function searchAddress() {
            var input = document.getElementById('addressInput');
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                var address = autocomplete.getPlace()['name'];
                var postalCode = '';
                var locality = '';
                for (var i = 0; i < place.address_components.length; i++) {
                    var component = place.address_components[i];
                    if (component.types.includes('postal_code')) {
                        postalCode = component.long_name;
                    }
                    if (component.types.includes('locality')) {
                        locality = component.long_name;
                    }
                }
                document.getElementById('addressInput').value = address;
                document.getElementById('postalCodeInput').value = postalCode;
                document.getElementById('localityInput').value = locality;
            });
        }

        // Appeler la fonction de recherche lorsque la page est chargée
        window.addEventListener('load', searchAddress);
    </script>
{% endblock %}
