{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="bg-white min-h-screen text-black font-poppins">
    {% include '/_defaults/_navbar.html.twig' %}
    <div class="pl-14 py-24 flex flex-row">
        <img src={{ asset('img/SideProduct.png') }} alt="Side Product" class="w-1/4 h-1/4">
        <div class="flex flex-col pl-4">
            <h1 class="text-4xl font-bold">Opulent</h1>
            <p class="opacity-50 pt-8">
                The Opulent Bloom Bouquet is a true celebration of nature's beauty, <br>
                where each flower is a testament to the artistry of the arrangement. <br>
                Rich, jewel-toned petals intertwine with verdant foliage, <br>
                creating a captivating play of colors and textures. <br>
                The bouquet is expertly handcrafted to ensure a perfect balance of opulence and grace, <br>
                making it an exquisite gift for any occasion.
            </p>
            <p class="text-2xl pt-4">39,99€</p>
            <div class="divider"></div>
            <button class="flex flex-row justify-center items-center bg-black text-white rounded-xl h-12 w-full">
                <p class="font-bold text-sm">ADD TO CART</p>
            </button>
            <div class="divider"></div>
        </div>
    </div>
    {% include '/_defaults/_footer.html.twig' %}
</div>
{% endblock %}
